/Locadora.class
/FilmeAcao.class
/LocadoraAdpter.class
/LocadoraAdapter.class
/FilmeRomance.class
/FilmeDocumentario.class
/FilmeFiccaoCientifica.class
/Cliente.class
/FilmeComedia.class
/FilmeTerror.class
